<%= form_for([@subject, @subject.comments.build]) do |f| %>
<div class="form-group">
  <%= f.text_area :content, rows: 7, class: "form-control", placeholder: "Write your comment here" %>
</div>
<div class="form-group">
  <%= submit_tag "Post", class: "btn btn-md btn-primary pull-right" %>
</div>
<% end %>
