@import "bootstrap-sprockets";
@import "bootstrap";

.subject-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
  margin-top: 10px;
}

.subject-actions .btn {
  width: 110px;
  margin: 5px 0;
}
