<div class="row">
  <div class="col-xs-12">
    <% flash.each do |name, msg| %>
      <div class='alert alert-<%= "#{name}" %>'>
        <a href="#" class="close" data-dismiss="alert">&#215;</a>
        <strong><%= msg %></strong>
      </div>
    <% end %>
  </div>
</div>
